.DS_Store
.tooling/
*.zip

.idea/
android-app/.gradle/
android-app/.idea/
android-app/.kotlin/
android-app/local.properties
android-app/app/local.properties
android-app/app/.gradle/
android-app/**/build/
android-app/app/build/
android-app/*.apk
